html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 90vw;
}

.w-80 {
    width: 80%;
}

.news {
    min-height: 64px;
    background: #01969C;
}

.fas.fa-volume-up {
    font-size: 25px;
    padding-right: 20px;
    transform: rotate(-10deg);
}

/* p.link {
    padding-left: 20px;
} */

.active {
    border: 0px;
}

nav.navbar {
    width: 70%;
}

.nav-container {
    width: 100%;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar ul li {
    margin-right: 50px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.nav .nav-link.active {
    border-bottom: 4px solid #01969C;
    width: 25%;
    font-weight: bold;
    text-align: start;
    color: #01969C;
}

.p-green {
    color: #01969C;
}

.nav-link {
    color: gray;
}


.tab-pane {
    border: 0px;
}

.fab.fa-facebook-messenger {
    font-size: 30px;
}

.background {
    background-image: url('../images/background.png');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-30 {
    top: 30%;
    left: 0% !important;
}

.col6 img {
    height: 400px;
}

.pointer {
    cursor: pointer;
}

.bg-green {
    background: #01969C;
}

.card {
    background: #01969C;
    height: 550px;
    width: 400px;
    right: 10%;
    top: 25%;
}

.w-90 {
    width: 90%;
}

h2 {
    text-align: start;
    font-size: 3.25rem;
    font-weight: bold;
}

hr {
    opacity: 1 !important;
}

.n {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #016A73;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
}

.card#schedule {
    height: 550px;
    width: 400px;
    right: 10%;
}

section.schedule {
    background-image: url('../images/shutterstock.png');
    border-radius: 0% 0% 12% 12%;
    position: relative;
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.none {
    list-style-type: none;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
}

.w-10 {
    width: 10%;
}

.top-30-left-5 {
    top: 30%;
    left: 5%;
}

.rounded-5 {
    border-radius: 5%;
}

.rounded-10 {
    border-radius: 10%;
}

/*///////////////////////////////// nastaviti odavde ///////////////////////////////// */
.m-t-25 {
    margin-top: 25px;
}

.m-t-60 {
    margin-top: 60px;
}

.mobile-reverse {
    flex-direction: row;
}

.filtered {
    height: fit-content;
    background-color: teal;
}

.filtered img {
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%) contrast(10%);
    filter: grayscale(100%) contrast(10%);
    opacity: 0.9999999;
}

.card-stuff {
    height: 470px;
    width: 400px;
    box-shadow: 0px 0px 1px 0px white;
    border-radius: 20px;
    background-color: white;
    top: 0;
    right: 0;
}

.stuff img {
    border-radius: 10%;
}

button.accordion-button {
    background-color: #f5f3f2;
}

button.accordion-button:hover,
button.accordion-button:focus {
    font-weight: bold;
    background-color: #E7F5F5;
}

.address-card {
    background-color: #016A73;
    top: 0;
    right: 0;
    height: 700px;
}

.m-x-20 {
    margin-left: 20%;
    margin-right: 20%;
}

.m-l-15 {
    margin-left: 15% !important;
}

header {
    min-height: 8vh;
}

.m-x-10 {
    margin-left: 10%;
    margin-right: 10%;
}

.me-1 {
    margin-right: 10px;
}

.w-35 {
    width: 35%;
}

.font-medium {
    font-size: 1.8rem;
}

.w-45 {
    width: 45%;
}

.w-70 {
    width: 70%;
}

.form-group,
.form-control {
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


.home-visits img {
    border-radius: 5%;
}

.m-t5rem {
    margin-top: 5rem;
}

.border-light {
    border: 0.2px solid #f5f0f0;
    height: 0.2px;
}

footer {
    border-radius: 100px;
    background: #E7F5F5;
}

.z-5 {
    z-index: 5;
}

.z-1 {
    z-index: 1;
}

input:checked {
    cursor: cell;
    border-color: white;
    background-color: #016A73;
}

input.form-control:active,
input.form-control:focus {
    background-color: transparent;
    color: white;
}

.container-fluid .col-12 {
    margin-right: 50px;
}

.color-gray {
    color: gray;
}

footer li p {
    cursor: pointer;
}


@media(min-width:1000px) {
    .navbar-brand.lead {
        display: none !important;
    }
}

@media(width:1024px) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .i-pro-btn {
        width: 70%;
    }

    .ipad-pro-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card#schedule {
        right: auto;
    }

    footer .col-12 {
        margin-right: auto !important;
    }

    .nav-link {
        font-size: 1rem;
    }


}

@media(width:320px) {
    section.background {
        height: 200vh !important;
    }

    .i-Phone-5-w-100 {
        width: 100%;
    }

    .hidden {
        margin-top: 10%;
    }

    .hidden .btn {
        width: auto !important;
    }

    .card {
        height: 100% !important;

    }

    .address-card {
        height: 140vh !important;
    }

    .card .lead {
        font-size: auto !important;
    }

    .card#schedule {
        top: 150% !important;
    }

    .card .left {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-around;
    }

    .card-time {
        top: 105% !important;
    }

    .accordion-body .row {
        font-size: 70% !important;
    }
}

@media(width:768px) {
    .container {
        width: 100% !important;
    }



    .navbar ul {
        width: 60vw !important;
    }

    .navbar ul li {
        margin-right: 0px !important;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
        margin-left: 0% !important;
    }


    header .logo {
        width: 20vw;
    }

    .mobile-reverse {
        flex-direction: row;
    }

    ul.navbar-nav {
        margin-top: 0 !important;
        margin-left: 0 !important;
        background-color: white;
    }

    .col-4.card {
        height: 100% !important;
        margin-bottom: 20px !important;
    }

    .card {
        width: 100% !important;
    }

    .col-12 {
        width: 100%;
        flex: 1 !important;
    }

    .card#schedule {
        margin: 0% !important;
        padding: 0% !important;
        top: 30% !important;
    }

    #nav-tab {
        flex-direction: row !important;
    }

    .nav-link {
        font-size: 1rem;
    }
}




@media(max-width: 780px) {

    .mobile-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-4 {
        margin-top: 0 !important;
        margin-bottom: 1.5rem !important;
    }

    .mobile-hidden {
        display: none !important;
    }

    .mobile-vw-100 {
        width: 100vw;
    }

    .mobile-vw-70 {
        width: 70vw;
    }

    .mobile-btn {
        width: 60% !important;
    }

    .container {
        max-width: 100%;
    }

    .hidden {
        flex-direction: column !important;
    }

    h1 {
        font-size: 2rem !important;
    }

    header {
        position: absolute;
        margin-bottom: -4rem;
        align-items: flex-start !important;
    }

    .col-md-6.top-30 p.lead {
        font-size: 1rem;
    }

    .ml50 {
        margin-left: 50%;
    }

    .mb50 {
        margin-bottom: 50px !important;
    }

    .h250px {
        height: 250px !important;
    }

    header a {
        font-size: 1rem;
        font-weight: 600;
    }

    .background {
        height: 150vh;
    }

    .navbar {
        background-color: transparent !important;
    }

    .row {
        margin: 0;
    }

    .card {
        height: 490px;
        right: 0%;
        left: 0%;
        top: 85%;
        width: 95%;
        margin: 0;
    }

    .card#schedule {
        width: 95%;
        right: 0%;
        left: 0%;
        top: 20%;

        margin: 0;
    }

    .w-55 {
        width: 55% !;
    }

    .w-60 {
        width: 60%;
    }

    #nav-tab {
        flex-direction: column;
        align-items: flex-start;
    }

    .tab-content .p-4 {
        padding: 0px !important;
    }

    .nav-link.active {
        font-weight: bold;
        text-align: center !important;
        width: 30% !important;
    }


    section.Partners .line {
        justify-content: center;
        align-items: center;
    }

    section.Partners .fg {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
    }

    section.Partners .lead {
        font-size: 1.5rem;
    }


    .radios {
        margin-left: 0px;
        padding-left: 0px;
    }

    .address-card {
        height: 100%;
    }

    .pdl-9,
    .pdr-9 {
        padding-right: 0;
        padding-left: 20px;
    }

    .col-4.card {
        margin-bottom: 20px;
    }

    .mobile-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .filtered {
        margin: 10px;
    }

    .card-body {
        height: 100%;
        padding-top: 0;
    }

    .pt-4 {
        padding-top: 0px;
    }

    .contact-adress {
        display: contents;
    }


    .btn.bg-green.w-25 {
        border-radius: 20px;
        width: 100%;
    }

    ul.navbar-nav {
        margin-top: 40px;
        margin-left: -100vw;
        background-color: white;
    }

    .small {
        font-size: 0.8rem;
    }

    .smaller {
        font-size: 0.6rem;
    }

    .row.address.w-100 .col-mb-6 {
        height: 100%;
    }

    .row.address button {
        width: 78%;
    }

    button.m-x-20 {
        margin: 0;
    }

    h2 {
        font-size: 2rem !important;
        width: auto !important;
    }

    h3 {
        margin-right: 20px;
    }

    .top-30 {
        top: 30%;
        left: 0% !important;
    }

    section.schedule {
        height: 100vh;
    }

    section.stuff p.fw-normal {
        padding-top: 15px !important;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    .mobile-text-center {
        text-align: center !important;
    }

    .form-group input {
        width: 100%;
    }

    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
    }

    footer {
        border-radius: 0px;
        margin-bottom: 0px;
    }

    footer .col-12 {
        justify-content: center;
        margin-right: 0% !important;
    }

    footer ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    footer .w-25 {
        width: 100%;
        text-align: center;
    }

    footer li a {
        font-size: 1.2rem;
    }

    footer .col-12 {
        margin-right: 0;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .col-12 .d-flex.flex-column {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    footer .align-self-baseline {
        align-items: center;
        text-align: center;
    }

    footer .lead.text-start {
        align-items: center;
        text-align: center;
    }

    .mobile-100 {
        width: 100%;
    }

    .mobile-p40 {
        padding: 40px;
        padding-top: 10px !important;
    }

    header .logo {
        padding: 20px;
    }

}